<%= form_for @municipe, :html => {:class => "form-horizontal center"} do |f| %>
	<div class="form-group">
		<%= f.label :name, I18n.t('activerecord.attributes.municipe.name'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :cpf, I18n.t('activerecord.attributes.municipe.cpf'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.text_field :cpf, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :cns, I18n.t('activerecord.attributes.municipe.cns'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.text_field :cns, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :email, I18n.t('activerecord.attributes.municipe.email'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.text_field :email, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :phone, I18n.t('activerecord.attributes.municipe.phone'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.text_field :phone, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :birthdate, I18n.t('activerecord.attributes.municipe.birthdate'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.date_field :birthdate, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :photo, I18n.t('activerecord.attributes.municipe.photo'), class: "col-md-4 control-label" %>
		<div class="col-md-8">
			<%= f.file_field :photo, class: "form-control" %>
		</div>
	</div>
	<div class="form-group btn-group" data-toggle="buttons-radio">
		<%= f.label :active, I18n.t('activerecord.attributes.municipe.status.active'), class: "col-md-4 control-label" %>
		<%= f.radio_button :status, class: "form-control", id: "active" %>
		<%= f.label :inactive, I18n.t('activerecord.attributes.municipe.status.inactive'), class: "col-md-4 control-label" %>
		<%= f.radio_button :status, class: "form-control", id: "inactive" %>
	</div>

	<%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>

<%= javascript_include_tag('municipes/form') %>