<div class="row">
	<div class="col">
		<%= f.label :zipcode, "CEP", class: "control-label" %>
		<%= f.text_field :zipcode, class: "form-control" %>
	</div>
</div>
<div class="row">
	<div class="col">
		<%= f.label :address, "Logradouro", class: "control-label" %>
		<%= f.text_field :address, class: "form-control" %>
	</div>
	<div class="col">
		<%= f.label :neighborhood, "Bairro", class: "control-label" %>
		<%= f.text_field :neighborhood, class: "form-control" %>
	</div>
</div>
<div class="row">
	<div class="col">
		<%= f.label :city, "Cidade", class: "control-label" %>
		<%= f.text_field :city, class: "form-control" %>
	</div>
	<div class="col">
		<%= f.label :complement, "Complemento", class: "control-label" %>
		<%= f.text_field :complement, class: "form-control" %>
	</div>
</div>
<div class="row">
	<div class="col">
		<%= f.label :state, "Estado", class: "control-label" %>
		<%= f.text_field :state, class: "form-control" %>
	</div>
	<div class="col">
		<%= f.label :ibge_code, "Código IBGE", class: "control-label" %>
		<%= f.text_field :ibge_code, class: "form-control" %>
	</div>
</div>